<title>Startup Cities</title>

<header>
	<span>startup<br> cities &#9786;</span>
</header>

<!--add h1 and description-->

<nav class="cityselect">
	<ul>
		<li><a href="chicago"><h2>Chicago</h2></a></li>
		<li><h2>New York City</h2></li>
		<li><h2>Gainesville</h2></li>
		<li><a href="seattle"><h2>Seattle</h2></a></li>
	</ul>
</nav>